// The code is a bit of a mess at the moment! Sorry about that.


h1 {
  color: hsla(215, 5%, 10%, 1);
  margin-bottom: 2rem;
}
section {
  // display: flex;
  display: inline-flex;
  // flex-flow: row wrap;
  // flex-wrap: wrap;
  width:20rem;
}
section > div {
  flex: 1;
  padding: 0.5rem;
}

input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
    color: white;
  }
  &:disabled ~ label {
    color: rgb(255, 255, 255);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}

input[type="radio"]:hover {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
    background-color: #1399cd;
    color: white;
    
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}

label {
  color: white;
  height: 100%;
  display: block;
  background: white;
  border: 2px solid #1399cd;
  border-radius: 20px;
  padding: 1rem;
  // margin-bottom: 1rem;
  //margin: 1rem;
  text-align: center;
  // box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  // position: relative;
}
input[type="radio"]:checked + label {
  background: #1399cd;
  color: hsla(215, 0%, 100%, 1);
  // box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
  &::after {
    color: rgb(255, 255, 255);
    // font-family: FontAwesome;
    border: 2px solid hsla(150, 75%, 45%, 1);
    // content: "\f00c";
    font-size: 24px;
    // position: absolute;
    top: -25px;
    left: 50%;
    // transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    // box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}

input[type="radio"]#control_05:checked + label {
  background: red;
  border-color: red;
}
p {
  font-weight: 900;
}


@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}

input[type="text"] {
  background: white;
  border: 2px solid #1399cd;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}

input[type="submit"] {
  background: white;
  border: 2px solid #1399cd;
  border-radius: 20px;
  width: 100px;
  padding: 15px;
  
}

input[type="submit"]:hover{
  background: #1399cd;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  width: 100px;
  padding: 15px;
  
}

input[type="reset"] {
  background: white;
  border: 2px solid #f3ef2d;
  border-radius: 20px;
  padding: 15px;
  
}

input[type="reset"]:hover{
  background: #f3ef2d;
  border: 2px solid white;
  border-radius: 20px;
  padding: 15px;
  
}

